<div class="card">
    <div class="card-body">
        <h2 class="card-title">Resumen</h2>
        <div class="card-text">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Ingreso</th>
                        <th>Gastos</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        <tr bgcolor="green"><td> {{summary.income}}</td> </tr>
                        <tr bgcolor="red">   <td>{{summary.expenses}}</td></tr>
                        <tr bgcolor="green">    <td>{{summary.Total}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>